body{
    text-align: center;
    background: #050609;
}

.main-container{
    padding-top: -25%;
    margin-right: 34%;
    margin-left: 34%;
    margin-top: 12%;
    background: #dddddd;
    padding-bottom: 5%;
    border-radius: 10px;
}

#counter{
    font-size: 8em;
    border: none;
    color: #4DAA57;
}

#decreaseBtn{
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    padding: 10px 30px;
    background: #0B3948;
    color: white;
    
}

#decreaseBtn:hover{
    background: #001B2E;

}


#increaseBtn{
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #00C2D1;
    padding: 10px 30px;
    color: white;
    
}

#increaseBtn:hover{
    background: #001B2E;
}

#resetBtn{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: white;
    background-color: red;
    border: none;
    padding:10px 30px;
}

#resetBtn:hover{
    background: #001B2E;
}

.title{
    position: absolute;
    margin-left: 42.7%;
    margin-top: -5%;
    color: #F6E4F6;
}